[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"
pandas = "*"
altair = "*"
jupyter = "*"
pandas-datareader = "*"
pandas-market-calendars = "*"

[dev-packages]

[requires]
python_version = "3.6"
