<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$title$</title>

    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="https://edwardtufte.github.io/tufte-css/tufte.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155234935-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155234935-1');
    </script>
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
  <style>
    /*FOR MOCKUP*/
    body {
      height: 150vh;
    }

    @media screen and (min-width: 786px) {
      p {
        width: 55%;
      }

      .chart-container {
        width: 55%;
      }
    }

    /*END MOCKUP*/
  </style>
  <script src="./css/supernav.js"></script>
  </head>
  <body>
  
  <nav id="main-nav">
    <ul class="nav-links">
      
      <li>
        <span class="powered">powered by:</span>
        <a href="https://lambdaclass.com" target="_blank"><span class="text">Lambdaclass</span></a>
      </li>
    </ul>
    <div class="nav-info">
      reading: Finance Playground 
    </div>
  </nav>

  </head>
  <body>
    <article>
      $body$
    </article>
  </body>
</html>
