@media screen and (min-width: 786px) {
     p {
         width: 55%;
    }
     .chart-container {
         width: 55%;
    }
}
.matrix {
    position: relative;
}
.matrix:before, .matrix:after {
    content: " ";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0;
}
.matrix:after {
    right: -6px;
    border-left: 0;
}

