<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$title$</title>

    <meta property="og:title" content="Emergency of Cooperation">

    <meta property="og:image" content="https://lambdaclass.com/data_etudes/dont_bet_on_an_ev/img/dontbetonanev.png">
    <meta property="og:url" content="https://lambdaclass.com/finance_playground/emergency_of_cooperation/">

    <meta name="twitter:title" content="$title$">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="https://lambdaclass.com/data_etudes/dont_bet_on_an_ev/img/dontbetonanev.png">

    <meta name="description" content="This paper tackles the apparently paradoxical emergence of cooperation patterns under evolutionary dynamics.
Why do we observe seemingly altruistic behavior in systems where organisms compete for resources and only the fittest thrive (the so called survival of the fittest)?
Classical solutions propose a net fitness gain from colaboration. The authors seek to explain this gain through the analysis of the time average growth rate for the fitness of the collaborating organisms.">
    <meta name="twitter:creator" content="@unbalancedparen">

    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="https://edwardtufte.github.io/tufte-css/tufte.css">

    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155234935-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155234935-1');
    </script>
  </head>
  <body>
    <article>
      $body$
      <video width="50%" class="bordered" controls>
       <source src="img/biomass-growth.mp4" type="video/mp4">
        Your browser does not support the video tag. </video></div>
    </article>
  </body>
  <script src="./js/main.js"></script>
</html>
