<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$title$</title>
    <meta property="og:title" content="The Central Limit Theorem and its misuse">
    <meta name="description" content="The central limit theorem is possibly the most famous theorem in all of statistics, being widely used in any field that wants to infer something or make predictions from gathered data. A first (simple) version of it was introduced in the eighteenth century, first by de Moivre and then later in a more refined way by Laplace, but it wasn't until around 1935 that the theorem as we know it today was published. The goal of these notes is to explain in broad terms what it says and, more importantly, what it doesn't.">

    <meta name="twitter:title" content="$title$">
    <meta property="og:url" content="https://lambdaclass.com/data_etudes/central_limit_theorem_misuse/">
    <meta property="og:image" content="https://lambdaclass.com/data_etudes/central_limit_theorem_misuse/img/screenshot.png">

    <meta name="twitter:image:src" content="https://lambdaclass.com/data_etudes/central_limit_theorem_misuse/img/screenshot.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="The central limit theorem is possibly the most famous theorem in all of statistics, being widely used in any field that wants to infer something or make predictions from gathered data. A first (simple) version of it was introduced in the eighteenth century, first by de Moivre and then later in a more refined way by Laplace, but it wasn't until around 1935 that the theorem as we know it today was published. The goal of these notes is to explain in broad terms what it says and, more importantly, what it doesn't.">
    <meta name="twitter:creator" content="@unbalancedparen">

    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="https://edwardtufte.github.io/tufte-css/tufte.css">

    <script async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155234935-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155234935-1');
    </script>

  </head>
  <body>
    <article>
      $body$
    </article>
  </body>
</html>
