<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$title$</title>

    <meta property="og:title" content="Troubled Markets and Volatility">

    <meta property="og:image" content="https://lambdaclass.com/finance_playground/troubled_markets/cover_image.png">
    <meta property="og:url" content="https://lambdaclass.com/finance_playground/troubled_markets/">

    <meta name="twitter:title" content="$title$">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="https://lambdaclass.com/data_etudes/dont_bet_on_an_ev/img/dontbetonanev.png">

    <meta name="description" content=" An exploration on Argentina's ADRs recent performance (2019)">
    <meta name="twitter:creator" content="@unbalancedparen">

    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="https://edwardtufte.github.io/tufte-css/tufte.css">

  <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155234935-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155234935-1');
    </script>
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
  <style>
    /*FOR MOCKUP*/
    body {
      height: 150vh;
    }

    @media screen and (min-width: 786px) {
      p {
        width: 55%;
      }

      .chart-container {
        width: 55%;
      }
    }

    /*END MOCKUP*/
  </style>
  <script src="./css/supernav.js"></script>
  </head>
  <body>
  <nav id="main-nav">
    <ul class="nav-links">
      <li>
        <a href="https://lambdaclass.com/finance_playground/">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
              <g>
                <path d="M501.333,245.333H36.417l141.792-141.792c4.167-4.167,4.167-10.917,0-15.083c-4.167-4.167-10.917-4.167-15.083,0l-160,160
        c-4.167,4.167-4.167,10.917,0,15.083l160,160c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125
        c4.167-4.167,4.167-10.917,0-15.083L36.417,266.667h464.917c5.896,0,10.667-4.771,10.667-10.667S507.229,245.333,501.333,245.333z
        " />
              </g>
            </g>
          </svg>
          <span class="text">back</span>
        </a>
      </li>
      <li>
        <span class="powered">powered by:</span>
        <a href="https://lambdaclass.com" target="_blank"><span class="text">Lambdaclass</span></a>
      </li>
    </ul>
    <div class="nav-info">
      reading: Troubled Markets and Volatility
    </div>
  </nav>

    <article>
      $body$
    </article>
  </body>
  <script src="./js/main.js"></script>
</html>
